PORT=8080
SUPABASE_URL=postgresql://postgres:lngRbHsgRwufv1Qe@db.mrpwfvlgqqpzzxcmgdfg.supabase.co:5432/postgres
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ycHdmdmxncXFwenp4Y21nZGZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzMDgyMjIsImV4cCI6MjA5NTg4NDIyMn0.mOMkogbfPPtiOwfv0oeb_ij-ZGg3r3HzEuuAfeQoCu8
GEMINI_API_KEY=AIzaSyCerwUeXOzw40UtUSbJJ2FE5UEGR9E_tzc
